Auth Token - change header value format from just `{TOKEN}` to `Bearer {TOKEN}`

The HTTP standard specifies the format `<type> <value>` for the `Authorization` header, so it should be followed by the API.  
For a token, the `Bearer` type should be used ([available types](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#authentication_schemes))  
Of course both formats should be supported for backwards compatibility, but the docs should encourage the new format and the old format would be deprecated in v3 or something.  
Also maybe the charset for the auth token generator should be limited to the characters defined in [RFC 6750 section 2.1](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1)